{% extends 'main/base.html' %}
{% block title %}
    Fatih's library
{% endblock title %}
{% block content %}

{% include 'main/navbar.html' %}

<main class="container">
    <div class="row">
        

        <table>
            <thead>
            <tr>
            <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for bb in borrowedBooks %}
            <tr>
            <td>{{bb.date}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        

    </div>
</main>
{% endblock content %}
