{% extends 'main/base.html' %}
{% block title %}
    Homepage
{% endblock title %}
{% block content %}


<div class="container">
  <div class="row">
    
    {% for book in books %}
      <div class="col-3 mb-4">
        <p> {{book.title}} </p>
        <img src="{{ book.cover_image.url }}" alt="" class="img-fluid">
        <p>{{ book.author }}</p>
        <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">Book details</a>
        
      </div>
    {% endfor %}
      
  </div>
</div>
{% endblock content %}
