{% extends 'main/base.html' %}
{% block title %}
    Fatih's library
{% endblock title %}
{% block content %}

{% include 'main/navbar.html' %}

    <div id="carouselExample" class="carousel slide mb-5" >

        <div class="carousel-inner">
            
            {% for image in carousel %}
            <div class="carousel-item active">
                <img src="{{image.image.url}}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
                
        </div>



        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <main class="container">
        <div class="row">
            
            {% for book in books %}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="p-3 text-center mb-3 border shadow rounded-3 hover" >
                        <a href="{%url 'book_detail' book.slug %}">
                            <img src={{book.cover_image.url}} alt="">
                            <p> {{book.title}} </p>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>

{% endblock content %}
