<!-- navbar -->

<div class="container-fluid mb-10 sticky-top bg-white">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="navbar-brand" href="{% url 'home' %}" style="color: #013815 ;"> <i class="bi bi-house-fill"></i> Home</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-brand" href="{% url 'books' %}" style="color: #013815 ;"> <i class="bi bi-journal-bookmark"></i> Books</a>
                </li>

            </ul>
            <h1 class="navbar-brand" href="#" style="color: #013815 ;">ALHAZN LIBRARY</h1>

            
            {% if request.user.is_authenticated %}
                
                <ul class="navbar-nav">

                    <li class="navbar-item">
                        <div class=" dropstart">
                            <button class="btn btn-dark mx-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class=" bi bi-person-fill"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'account' %}">My account</a></li>
                                <li><a class="dropdown-item" href="{% url 'borrowings' %}">my borrowings</a></li>
                                <hr>
                                <li>

                                    <form action="/accounts/logout/" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn">
                                            Logout
                                        </button>
                                    </form>

                                </li>
                            </ul>
                        </div>
                    </li>

                    
                

                </ul>
                                   
            {% else %}
                <a class="btn btn-outline-success" href="/accounts/login">
                    <i class="bi bi-door-closed"></i> 
                </a>
            {% endif %}
                
           

            
        </div>
    </nav>
</div>