<!-- navbar -->

<div class="container-fluid mb-10 sticky-top bg-white">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="navbar-brand" href="{% url 'home' %}" style="color: #013815 ;"> <i class="bi bi-house-fill"></i> Home</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-brand" href="{% url 'books' %}" style="color: #013815 ;"> <i class="bi bi-journal-bookmark"></i> Books</a>
                </li>
            </ul>
            <h1 class="navbar-brand" href="#" style="color: #013815 ;">ALHAZN LIBRARY</h1>

            
            {% if request.user.is_authenticated %}
                
                <form action="/accounts/logout/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="bi bi-door-open-fill"></i>
                    </button>
                </form>
            {% else %}
                <a class="btn btn-outline-success" href="/accounts/login">
                    <i class="bi bi-door-closed"></i> 
                </a>
            {% endif %}
                
           

            
        </div>
    </nav>
</div>